<div class="player-box col-md-3 result-box">
    <h3><a href="player-detail.html"> {{first_name}} {{last_name}}</a></h3>
    <ul>
        <li>Team: {{team}}</li>
        <li>Jersey Number: {{jersey_num}}</li>
        <li>Nickname: {{nickname}}</li>
        <li>Games Played: {{games}}</li>
        <li>Points Made: {{points}}</li>
        <li> Plays Positions:
        {{#each position}}
            {{position_name}} |
        {{/each}}
        </li>
    </ul>
    <div onclick="removePlayer()">|Remove Player|</div>
</div>