<div class="team-box row team-row">
    <h3>{{name}}</h3>
    <ul>
        <li>Location: {{loc}}</li>
        <li>Color: {{color}}</li>
        <li><span onclick="updateCoach({{id}})">Coach: {{coach}}</span></li>
    </ul>
    <div onclick="removeTeam({{id}})">|Remove Team|</div>
</div>