<div class="team-box">
    <h3>{{name}}</h3>
    <ul>
        <li>Location: {{loc}}</li>
        <li>Color {{color}}</li>
        <li><span onclick="updateCoach({{name}})">Coach {{coach}}</span></div></li>
    </ul>
    <div onclick="removeTeam()">|Remove Team|</div>
</div>